:root {
    --bg: #E8F3D6;
    --year1: #FAAB78;
    --year2: #F8C4B4;
    --year3: #E5EBB2;
    --year4: #BCE29E;
    --bgHoverNode: #ff9752;
    --borderHoverNode: #2C3333;
    --highlight-fill: #ccc;
    --highlight-stroke: #ccc;
    --font-style: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--bg);
}

nav {
    background-color: #8E806A;
    border-bottom: 1px solid ;
    margin-bottom: 0px;
}

img.tw-user-small {
    height: 40px;
}


img.tw-user-medium {
    height: 50px;
}

.navbar-light .container .navbar-nav .nav-link{
    color:#2C3333;
}


#nav-search {
    border-color: #2C3333;
    border-radius: 20px;
    background-color: #e7ecf0;
}


#nav-tweet-btn {
    border-radius: 20px;
    background-color: #aae1ff;
    color: #2C3333;
}


.container {
    display: flex;
    font-family: var(--font-style);
}
