body {
    background-color: #F9E0BB;
}

nav {
    background-color: #8E806A;
    border-bottom: 1px solid ;
    margin-bottom: 0px;
}

img.tw-user-small {
    height: 40px;
}


img.tw-user-medium {
    height: 50px;
}

.navbar-light .container .navbar-nav .nav-link{
    color:#2C3333;
}


#nav-search {
    border-color: #2C3333;
    border-radius: 20px;
    background-color: #e7ecf0;
}


#nav-tweet-btn {
    border-radius: 20px;
    background-color: #aae1ff;
    color: #2C3333;
}


.container {
    display: flex;
}
